# default reviewers
*                 @greenbone/ospd-maintainers

# dev ops
.github/          @greenbone/devops @greenbone/ospd-maintainers
.docker/          @greenbone/devops @greenbone/ospd-maintainers
