[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[packages]
psutil = "*"
redis = ">=3.0.1"
ospd = {git = "https://github.com/greenbone/ospd.git",ref = "ospd-2.0"}
packaging = "*"

[dev-packages]
pylint = "*"
black = "==19.10b0"
autohooks-plugin-black = "*"
