[[source]]
verify_ssl = true
name = "pypi"
url = "https://pypi.org/simple"

[packages]
psutil = "*"
redis = ">=3.0.1"
ospd = ">=2.0.0"

[dev-packages]
pylint = "*"
black = "==18.9b0"
autohooks-plugin-black = "*"
