name: Manually release gvm-libs with pontos

on:
  workflow_dispatch:

jobs:
  release-patch:
    name: Release patch with pontos
    runs-on: 'ubuntu-latest'
    steps:
    - name: Release with release action
      uses: greenbone/actions/release-python@v1
      with:
        version: 3.8
        conventional-commits: true
        github-user: ${{ secrets.GREENBONE_BOT }}
        github-user-mail: ${{ secrets.GREENBONE_BOT_MAIL }}
        github-user-token: ${{ secrets.GREENBONE_BOT_TOKEN }}
        gpg-key: ${{ secrets.GPG_KEY }}
        gpg-fingerprint: ${{ secrets.GPG_FINGERPRINT }}
        gpg-passphrase: ${{ secrets.GPG_PASSPHRASE }}
        strategy: patch
