name: SmokeTests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: verify
    runs-on: 'ubuntu-latest'

    steps:
      - uses: actions/checkout@v6
      - uses: docker/login-action@v3
        with:
          username: greenbonebot
          password: ${{ secrets.GREENBONE_BOT_TOKEN }}
          registry: ghcr.io
      - uses: docker/setup-buildx-action@v3
      - run: make
        working-directory: smoketest
